.todos {
    position: relative;
    border: 1px solid #3367d6;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    width: fit-content;
    border-top-left-radius: 0;
    padding: 3px;
    text-indent: 10px;
    justify-content: space-between;
}

.todo__remove__btn {
    height: 33px;
    min-width: 41px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 900;
    color: white;
    background-color: #3367d6;
}

.arrow {
    position: absolute;
    left: -16px;
    top: -1px;
    border-right: 16px solid #3367d6;
    border-bottom: 15px solid transparent;
}

.todo__count__container {
    position: sticky;
    top: 105px;
    background-color: #fff;
    z-index: 1;
}

.todo__text {
    margin-right: 5px;
}

.todo__time {
    position: absolute;
    left: -201px;
    padding-right: 6px;
    top: -11px;
    border: 2px solid #3367d6;
    margin: 0;
    border-radius: 20px;
}

.finish__todo__button {
    width: 124px;
    position: absolute;
    bottom: 21px;
    cursor: pointer;
    top: 21px;
    height: 21px;
    background: #9ff141;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 20px;
    left: -173px;
}
.todo__done{
    position: absolute;
}
.todos>.todo__done ~ .arrow ~ .todo__time ~ .todo__text{
    opacity: 0.8;
    text-decoration: line-through;
}
.todos>.todo__done ~ .arrow ~ .todo__time{
    opacity: 0.8;
    text-decoration: line-through;
}
.todo__done .todos{
    background-color: grey;
}

@media all and (max-width: 850px) {
    .todo__time {
        position: absolute;
        left: 0;
        border: none;
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: -2px;
        color: blue;
        margin: 0;
    }

    .todos {
        width: auto;
    }

    .finish__todo__button {
        position: absolute;
        bottom: 0;
        cursor: pointer;
        top: auto;
        height: 21px;
        background: #9ff141;
        font-size: 17px;
        border: none;
        outline: none;
        border-radius: 20px;
        left: 67%;
    }
    .todo__done{
        left: 178px;
    }
}

@media all and (max-width: 550px){
    .finish__todo__button{
        left: 60%;
    }
}